/* app/globals.css */
:root {
  /* --c-bg removed from here to be theme-specific */
  --pad: max(20px, 4vmin);
  --fs-text: 12px;
  --c-text: hsl(0, 0%, 10%);
}

.body-light {
  --c-bg: hsl(0, 0%, 90%);
  background-color: var(--c-bg);
  color: hsl(0, 0%, 10%);
}

.body-light a {
  color: hsl(0, 0%, 0%);
}

.body-dark {
  --c-bg: hsl(0, 0%, 5%);
  background-color: var(--c-bg);
  color: hsl(0, 0%, 95%);
}

.body-dark a {
  color: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  height: 100dvh;
  /* طول الشاشة بالكامل */
  overflow: hidden;
  /* font-family: var(--font-cairo), sans-serif; */
  font-family: var(--font-neue), monospace;

}

/* Lens for smooth scroll */
html.lenis,
html.lenis body {
  /* height: auto; */
  height: 100dvh;
}

html.lenis {
  height: auto;
  /* ضروري جداً ليعمل في الجوال */
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Masks */
/* 1. الخصائص المشتركة لجميع الـ masks */
.mask_top,
.mask_bottom,
.mask_right,
.mask_left {
  position: fixed;
  background-color: var(--c-bg);
  transition: background-color 0.9s cubic-bezier(0.1, 0.4, 0.2, 1);
  opacity: 0.9;
  z-index: 100;
  pointer-events: none;
}

/* 2. الـ masks الأفقية (أعلى وأسفل) */
.mask_top,
.mask_bottom {
  left: 0;
  width: 100%;
  height: var(--pad);
}

/* 3. الـ masks العمودية (يمين ويسار) */
.mask_right,
.mask_left {
  top: 0;
  height: 100%;
  width: var(--pad);
}

/* 4. تحديد المواقع بدقة */
.mask_top {
  top: 0;
}

.mask_bottom {
  bottom: 0;
}

.mask_left {
  left: 0;
}

.mask_right {
  right: 0;
  /* هنا قمنا بإزالة الـ left: 0 الذي كان موروثاً في الكود القديم */
}

/* Frame */
.frame {
  position: fixed;
  z-index: 10;
  inset: var(--pad);
  mix-blend-mode: difference;
  pointer-events: none;
}

.frame_line {
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
}

.frame_line-left {
  left: 0;
  top: 0;
  width: 1px;
  height: 100dvh;

}

.frame_line-right {
  right: 0;
  top: 0;
  width: 1px;
  height: 100dvh;

}

.frame_line-top {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
}

.frame_line-bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}


/* Canvas background for Three.js */
#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Main */
main {}

.page_content {
  /* padding: calc(var(--pad) * 2 + 96px) calc(var(--pad) * 2); */
}