.home {
    position: absolute;
    right: calc(var(--pad) * 2);
    bottom: calc(var(--pad) * 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home_aboutme {
    line-height: 1.5;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-radius: 1.2rem;
    padding: 20px;
}

.home_aboutme span {
    display: block;
    font-size: 12px;
    font-weight: 500;

}